#hero {
  padding: 100px 0;

  .hero {
    &--img1 {
      position: relative;
      top: 40px;
      width: 1390px;
    }

    &--img2 {
      display: none;
    }

    &--block {
      position: absolute;
      top: 34rem;
      left: 8rem;
      display: flex;
      justify-content: space-between;
      padding: 20px;
      background: #FFFFFF;
      border: 1px solid rgba(0, 74, 96, 0.5);
      border-radius: 32px;
      width: 1300px;
      height: 136px;
      box-sizing: border-box;
    }

    &--buttons {
      display: flex;
      grid-column-gap: 8px;
    }

    &--input1 {
      width: 782px;
      height: 92px;
      background: rgba(0, 74, 96, 0.1);
      border-radius: 16px;
      outline: none;
      border: none;
      padding: 0 10px;
    }

    &--btn2 {
      position: absolute;
      right: 2rem;
      bottom: 40px;
      width: 121px;
      height: 56px;
      border: none;
      background: #1B76F9;
      border-radius: 8px;
      font-weight: 500;
      font-size: 16px;
      color: #FFFFFF;
    }

    &--btn1 {
      width: 68px;
      height: 40px;
      border: 1px solid rgba(0, 74, 96, 0.5);
      border-radius: 8px;
      margin-bottom: 10px;
    }

    &--options {
      width: 163px;
      height: 40px;
      border-radius: 8px;
      outline: none;
      background: #FFFFFF;
    }

    &--option2 {
      width: 112px;
      height: 40px;
      outline: none;
      border-radius: 8px;
      background: #FFFFFF;
    }

    &--option3 {
      width: 95px;
      height: 40px;
      outline: none;
      border-radius: 8px;
      background: #FFFFFF;
    }

    option {
      padding: 10px 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: rgba(0, 74, 96, 0.7);
    }

    h1 {
      position: absolute;
      top: 13rem;
      left: 31.5rem;
      font-weight: 600;
      font-size: 50.52px;
      line-height: 76px;
      text-align: center;
      color: #FFFFFF;
    }
  }
}
