#AgentsDetail {
  padding: 160px 0 0 0;


  .AgentsDetail {
    //display: flex;
    //align-items: center;
    margin: 0 120px;

    &__about {
      display: flex;

      img {
        width: 256px;
        height: 256px;
        border-radius: 32px;
      }

      &--title {
        margin: 0 50px;
      }

      h1 {
        font-weight: 500;
        font-size: 28.43px;
        color: #004A60;
        padding: 0 0 20px 0;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #004A60;
        padding: 0 0 20px 0;
      }

      button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        gap: 8px;
        width: 137px;
        height: 35px;
        background: #1B76F9;
        border-radius: 16px;
        cursor: pointer;
        font-weight: 500;
        font-size: 12.8px;
        color: #FFFFFF;
        transition: .2s;

        &:hover {
          color: #1B76F9;
          background: #FFFFFF;
          border: 1px solid #1B76F9;
        }
      }

      i {
        font-size: 25px;
        padding: 10px 3px;
      }
    }

    &__lang {
      margin: 0 170px 0 0;
      position: absolute;
      left: 520px;
      top: 390px;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      color: rgba(0, 74, 96, 0.7);
    }

    &__line {
      width: 650px;
      height: 1px;
      color: #004A60;
      background: #004A60;
      margin: 30px 0 0;
    }

    &__info {
      h1 {
        font-weight: 500;
        font-size: 23.33px;
        color: #004A60;
        margin: 40px 0 20px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        color: rgba(0, 74, 96, 0.7);
      }
      &--p{
        padding: 10px 0;
      }
    }

    .other {
      margin: -480px 0 0;
      display: flex;
      align-items: end;
      flex-direction: column;
      justify-content: right;
    }

    &__contact {
      margin: 0 0 50px 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 24px;
      gap: 40px;
      width: 270px;
      height: 248px;
      border: 1px solid rgba(0, 74, 96, 0.5);
      border-radius: 16px;

      i{
        position: absolute;
        left: 1130px;
      }

      h1 {
        width: 272px;
        height: 32px;
        display: flex;
        font-size: 21.33px;
        text-align: center;
        text-transform: uppercase;
        color: #004A60;
      }

      &--call {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 24px;
        gap: 8px;
        width: 222px;
        height: 56px;
        border: 1px solid rgba(0, 74, 96, 0.5);
        border-radius: 8px;

        a {
          display: flex;
          font-weight: 400;
          font-size: 16px;
          color: rgba(0, 74, 96, 0.7);
          transition: .2s;

          :hover{
            background: rgba(0, 74, 96, 0.7);
            color: white;
          }
        }

      }

      &--email {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 24px;
        gap: 8px;
        width: 222px;
        height: 56px;
        border: 1px solid rgba(0, 74, 96, 0.5);
        border-radius: 8px;


        a {
          display: flex;
          font-weight: 400;
          font-size: 16px;
          color: rgba(0, 74, 96, 0.7);
          transition: .2s;

          :hover{
            background: rgba(0, 74, 96, 0.7);
            color: white;
          }
        }
      }
    }

    &__company {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 24px;
      gap: 40px;
      width: 270px;
      height: 268px;
      border: 1px solid rgba(0, 74, 96, 0.5);
      border-radius: 16px;

      h1 {
        padding: 20px 0 0 50px;
        display: flex;
        font-weight: 300;
        font-size: 21.33px;
        text-align: center;
        text-transform: uppercase;
        color: #004A60;
      }

      img {
        margin: -52px 7px;
        padding: 20px;
        width: 200px;
        height: 200px;
        border-radius: 8px;
      }
    }
  }
}

@media (max-width: 1440px) {
  //#AgentsDetail {
  //  padding: 160px 75px 0 0;
  //}
  //#AgentsDetail .AgentsDetail__contact i {
  //  left: 925px;
  //}
}
@media (max-width: 1200px) {
  #AgentsDetail .AgentsDetail .other {
    margin: -480px -170px 0;
  }
  #AgentsDetail .AgentsDetail__contact i {
    left: 950px;
  }
}
@media (max-width: 1140px) {
  #AgentsDetail {
    padding: 160px 10px 0 0;
  }
  #AgentsDetail .AgentsDetail__line {
    width: 535px;
  }
  #AgentsDetail .AgentsDetail__lang {
    left: 495px;
  }
  #AgentsDetail .AgentsDetail .other {
    margin: -480px -160px 0;
  }
  #AgentsDetail .AgentsDetail__contact i {
    left: 904px;
  }
}
@media (max-width: 1024px) {
  #AgentsDetail .AgentsDetail__contact i {
    left: 790px;
  }
}
@media (max-width: 992px) {
  #AgentsDetail {
    padding: 160px 140px 0 0;
  }
  #AgentsDetail .AgentsDetail .other {
    margin: -480px -276px 0;
  }
  #AgentsDetail .AgentsDetail__about {
    margin: 0 -75px 0;
  }
  #AgentsDetail .AgentsDetail__lang {
    left: 400px;
  }
  #AgentsDetail .AgentsDetail__line {
    width: 555px;
    margin: 30px -65px;
  }
  #AgentsDetail .AgentsDetail__info {
    margin: 0 -65px;
  }
}
@media (max-width: 768px) {
  #AgentsDetail .AgentsDetail .other {
    margin: -140px -246px 0;
  }
  #AgentsDetail .AgentsDetail__contact i {
    left: 510px;
  }
  #AgentsDetail .AgentsDetail__about {
    margin: 0px -67px 0;
  }
  #AgentsDetail .AgentsDetail__about h1 {
    width: 229px;
  }
  #AgentsDetail .AgentsDetail__lang {
    width: 218px;
  }
}
@media (max-width: 576px) {
  #AgentsDetail .AgentsDetail {
    margin: 0 75px;
  }
  #AgentsDetail .AgentsDetail .other {
    margin: -140px -220px 0;
  }
  #AgentsDetail .AgentsDetail__contact i {
    left: 345px;
  }
  #AgentsDetail .AgentsDetail__line {
    width: 497px;
  }
  #AgentsDetail .AgentsDetail__lang {
    left: 330px;
    width: 217px;
  }
  #AgentsDetail .AgentsDetail__about--title {
    margin: 0 25px;
  }
}
@media (max-width: 451px) {
  #AgentsDetail .AgentsDetail__lang {
    left: 300px;
  }
  #AgentsDetail .AgentsDetail .other {
    margin: 30px -195px 0;
  }
  #AgentsDetail .AgentsDetail__contact i {
    left: 205px;
  }
  #AgentsDetail .AgentsDetail__info {
    margin: 0 -70px 0 60px;
    width: 300px;
  }
}
@media (max-width: 400px) {
  #AgentsDetail .AgentsDetail__about {
    margin: -70px -75px 53px;
  }
  #AgentsDetail .AgentsDetail__about--title {
    //margin: 185px -130px 0;
    margin: 245px -210px 0;
  }
  #AgentsDetail .AgentsDetail__about img {
    margin: -20px 0px 0px;
  }
  #AgentsDetail .AgentsDetail__lang {
    left: 31px;
    top: 480px;
  }
  #AgentsDetail .AgentsDetail__line {
    width: 374px;
    margin: 29px -87px;
  }
  #AgentsDetail .AgentsDetail__info {
    margin: 0 0 0 -70px;
    width: 300px;
  }
  #AgentsDetail .AgentsDetail .other {
    margin: 35px -130px 0;
  }
  #AgentsDetail .AgentsDetail__contact i {
    left: 85px;
  }
}
@media (max-width: 380px) {
  #AgentsDetail .AgentsDetail__line {
    width: 350px;
    margin: 29px -87px;
  }
  #AgentsDetail .AgentsDetail__about--title {
    margin: 245px -190px 0;
  }
  #AgentsDetail .AgentsDetail .other {
    margin: 35px -158px 0;
  }
}
@media (max-width: 375px) {

}
@media (max-width: 320px) {
  #AgentsDetail {
    padding: 160px 75px 0 0;
  }
  #AgentsDetail .AgentsDetail__line {
    width: 300px;
    margin: 29px -87px;
  }
}