#agent {
  padding-top: 150px;

  .agent {
    &--titles {
      display: flex;
      justify-content: space-between;

      h1 {
        font-weight: 600;
        font-size: 28.43px;
        line-height: 43px;
        color: #004A60;
        padding-bottom: 70px;
      }

      button {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #1B76F9;
        width: 109px;
        height: 40px;
        border: none;
        background: rgba(27, 118, 249, 0.3);
        border-radius: 8px;
      }
    }

    &--box {
      display: flex;
      grid-column-gap: 8rem;
      overflow-x: auto;
      padding: 10px 0;
    }

    &--block {
      margin-top: 130px;
      text-align: center;
      width: 992px;
      height: 299px;
      background: #1B76F9;
      border-radius: 32px;
      position: relative;
      left: 9rem;

      h1 {
        font-weight: 600;
        font-size: 28.43px;
        line-height: 43px;
        padding-top: 60px;
        color: #FFFFFF;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        padding-bottom: 10px;
      }

      button {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #1B76F9;
        width: 140px;
        height: 56px;
        border: none;
        background: #FFFFFF;
        border-radius: 8px;
      }
    }
  }
}

@media (max-width: 1440px) {

}

@media (max-width: 1200px) {
  #agent {
    .agent {
      &--block {
        left: 2rem;
      }
    }
  }
}

@media (max-width: 1140px) {
  #agent {
    .agent {
      &--block {
        left: 1rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  #agent {
    .agent {
      &--block {
        width: 866px;
      }
    }
  }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
  #agent {
    .agent {
      &--block {
        margin-top: 91px;
        width: 661px;
        height: 269px;

        h1 {
          padding-top: 55px;
        }
      }

      &--box {
        grid-column-gap: 4rem;
      }
    }
  }
}

@media (max-width: 576px) {
  #agent {
    .agent {
      &--block {
        margin-top: 90px;
        width: 485px;
        height: 227px;

        button {
          height: 35px;
        }
      }
    }
  }
}

@media (max-width: 451px) {
  #agent {
    .agent {
      &--block {
        margin-top: 83px;
        width: 377px;
        height: 190px;

        button {
          height: 35px;
        }

        h1 {
          font-size: 26.43px;
          line-height: 31px;
          padding-top: 34px;
        }
      }

      &--box {
        grid-column-gap: 3rem;
      }

      &--titles {
        display: flex;
        /* justify-content: space-between; */
        flex-direction: column;

        h1 {
          padding-bottom: 18px;
          text-align: center;
        }

        button {
          position: relative;
          left: 17rem;
          margin-bottom: 38px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #agent {
    .agent {
      &--titles {
        button {
          left: 15rem;
        }
      }

      &--block {
        width: 332px;
        height: 172px;

        h1 {
          font-size: 24.43px;
          line-height: 30px;
        }

        button {
          height: 32px;
          width: 125px;
        }
      }

      &--box {
        grid-column-gap: 2rem;
      }
    }
  }
}

@media (max-width: 380px) {
  #agent {
    .agent {
      &--titles {
        button {
          left: 13rem;
        }
      }

      &--block {
        width: 310px;
        height: 205px;

        h1 {
          font-size: 23.43px;
          line-height: 25px;
          width: 253px;
          padding-left: 52px;
        }

        p {
          width: 224px;
          padding-left: 4.5rem;
          font-size: 15px;
          line-height: 21px;
          padding-bottom: 2px;
        }
        button{
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 375px) {

}

@media (max-width: 320px) {
  #agent {
    padding-top: 80px;

    .agent {
      &--titles {
        h1 {
          font-size: 23.43px;
          line-height: 19px;
        }

        button {
          left: 10rem;
          font-size: 14px;
          line-height: 24px;
          width: 93px;
          height: 36px;
        }
      }

      &--block {
        width: 262px;
        left: 0rem;
        h1 {
          padding-left: 7px;
        }

        p {
          padding-left: 49px;
        }
      }
    }
  }
}