#profile{
  padding: 100px 0 0 0;
  .container{
    .profile{
      &--change{
        padding: 30px 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
       &__left{
         position: relative;
         a{
           font-style: normal;
           font-weight: 500;
           font-size: 21.33px;
           text-decoration-line: underline;
           color: #1B76F9;
         }
         h1{
           padding: 15px 0;
           font-style: normal;
           font-weight: 500;
           font-size: 28.43px;
           line-height: 43px;
           color: #004A60;
         }
         &--city{
           display: flex;
           align-items: center;
           h5{
             padding: 0 0 0 10px;
           }
         }
         hr{
           position: absolute;
           bottom: -40px;
           width: 800px;
           color: blue;
         }
       }
        &__right{
          width: 250px;
          height: 190px;
          border: #1B76F9 2px solid;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          button{
            margin: 10px 0;
            width: 200px;
            height: 56px;
            background: #1B76F9;
            border-radius: 8px;
            border: none;
            color: #FFFFFF;
          }
        }
      }
      &--save{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 20px 100px;
        flex-direction: column;
        &__block{
          width: 800px;
          border: 1px solid #1B76F9;
          border-radius: 20px;
          padding: 10px 10px;
          display: flex;
          align-items: flex-start;
          img{
            width: 300px;
            height: 300px;
            box-sizing: border-box;
          }


          &--right{
            padding: 0 20px;
            &__top{
              padding: 0 0 150px 0;
              h5{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #004A60;
              }
              h2{
                font-style: normal;
                font-weight: 500;
                font-size: 21.33px;
                line-height: 32px;
                color: #004A60;
              }
            }
            &__center{
              display: flex;
              flex-wrap: wrap;
              h6{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: rgba(0, 74, 96, 0.7);
              }
            }
            &__bottom{
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }
}