#agents {
  padding: 79px 0 0 0;

  .agents {

    &__svg {
      width: 100%;
    }

    &__find {
      position: absolute;
      width: 500px;
      height: 152px;
      font-weight: 600;
      font-size: 50.52px;
      text-align: center;
      color: #FFFFFF;
      top: 135px;
      left: 465px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__search {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 24px;
      gap: 24px;
      position: absolute;
      width: 710px;
      height: 200px;
      left: 365px;
      top: 349px;
      background: #FFFFFF;
      border: 1px solid rgba(0, 74, 96, 0.5);
      border-radius: 32px;

      &--cont {
        position: relative;
        display: inline-block;

        input {
          padding-right: 40px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 8px;
          width: 622px;
          height: 105px;
          background: rgba(0, 74, 96, 0.1);
          border-radius: 16px;
          border: none;
          outline: none;
          padding-left: 10px;

          &::placeholder {
            padding-left: 10px;
          }
        }

        button {
          position: absolute;
          text-align: center;
          top: 20px;
          right: 16px;
          width: 115px;
          height: 60px;
          background: #1B76F9;
          border-radius: 8px;
          cursor: pointer;
          font-weight: 500;
          font-size: 16px;
          color: #FFFFFF;
          transition: .2s;

          &:hover {
            color: #1B76F9;
            background: #FFFFFF;
          }

          i {
            font-size: 25px;
            position: absolute;
            left: 3px;
            //padding: 10px 0px;
          }
        }
      }


      select {
        display: flex;
        align-items: center;
        padding: 0;
        width: 114px;
        height: 35px;
        border: 1px solid rgba(0, 74, 96, 0.5);
        border-radius: 8px;
        font-weight: 400;
        font-size: 16px;
        color: rgba(0, 74, 96, 0.7);
        text-align: center;
        outline: none;

      }
    }

    &__peoples {
      padding: 200px 0 50px 201px;
      margin: 0 -55px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      width: 1420px;
      height: 980px;

      &--alex {
        padding: 0 0 24px;
        margin: 0 0 30px;
        gap: 8px;
        width: 256px;
        height: 422px;
        border: 1px solid rgba(0, 74, 96, 0.5);
        border-radius: 32px;

        img {
          border-radius: 32px 32px 0 0;
          width: 256px;
          height: 256px;
        }

        h1 {
          text-align: center;
          font-weight: 500;
          font-size: 21.33px;
          color: #004A60;
          padding: 20px 0;
        }

        p {
          font-weight: 400;
          font-size: 12.8px;
          text-align: center;
          color: #004A60;
        }

        button {
          margin: 20px 55px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px 16px;
          gap: 8px;
          width: 137px;
          height: 35px;
          background: #1B76F9;
          border-radius: 16px;
          font-weight: 500;
          font-size: 12.8px;
          color: #FFFFFF;
          transition: .2s;

          &:hover {
            background: #FFFFFF;
            color: #1B76F9;
            border: 1px solid #1B76F9;
          }

          i {
            font-size: 15px;
          }
        }
      }
    }

    &__see {
      margin: 130px 0 0 0;
      padding: 8px 16px;
      gap: 8px;
      width: 109px;
      height: 40px;
      background: rgba(27, 118, 249, 0.3);
      border-radius: 8px;
      font-weight: 500;
      font-size: 16px;
      color: #1B76F9;
      transition: .2s;

      &:hover {
        background: #1B76F9;
        color: #FFFFFF;
      }
    }
  }
}

@media (max-width: 1440px) {

}

@media (max-width: 1200px) {

  #agents {
    padding: 79px 0 0 0;

    .agents {

      &__svg {
        width: 100%;
      }

      &__find {
        width: 500px;
        height: 152px;
        font-size: 50.52px;
        top: 135px;
        left: 465px;
      }

      &__search {
        padding: 24px;
        gap: 24px;
        width: 710px;
        height: 200px;
        left: 310px;
        top: 349px;

        &--cont {
          position: relative;
          display: inline-block;

          input {
            padding-right: 40px;
            gap: 8px;
            width: 622px;
            height: 105px;
            padding-left: 10px;

            &::placeholder {
              padding-left: 10px;
            }
          }

          button {
            top: 20px;
            right: 16px;
            width: 115px;
            height: 60px;
            font-size: 16px;

            &:hover {
              color: #1B76F9;
              background: #FFFFFF;
            }

            i {
              font-size: 25px;
              position: absolute;
              left: 3px;
              //padding: 10px 0px;
            }
          }
        }


        select {
          padding: 0;
          width: 114px;
          height: 35px;
          font-size: 16px;

        }
      }

      &__peoples {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 235px 316px 0 0;
        margin: 0 109px;
        width: 1420px;
        height: 980px;

        &--alex {
          padding: 0 0 24px;
          margin: 0 0 30px;
          gap: 8px;
          width: 256px;
          height: 422px;

          img {
            border-radius: 32px 32px 0 0;
            width: 256px;
            height: 256px;
          }

          h1 {
            font-size: 21.33px;
            padding: 20px 0;
          }

          p {
            font-size: 12.8px;
          }

          button {
            margin: 20px 55px;
            padding: 8px 16px;
            gap: 8px;
            width: 137px;
            height: 35px;
            font-size: 12.8px;

            &:hover {
              background: #FFFFFF;
              color: #1B76F9;
              border: 1px solid #1B76F9;
            }

            i {
              font-size: 15px;
            }
          }
        }
      }

      &__see {
        margin: 639px 0 0 0;
        padding: 8px 16px;
        gap: 8px;
        width: 109px;
        height: 40px;
        font-size: 16px;

        &:hover {
          background: #1B76F9;
          color: #FFFFFF;
        }
      }
    }
  }

}

@media (max-width: 1140px) {
  #agents {
    padding: 79px 0 0 0;

    .agents {

      &__svg {
        width: 100%;
      }

      &__find {
        width: 500px;
        height: 152px;
        font-size: 50.52px;
        top: 135px;
        left: 378px;
      }

      &__search {
        padding: 24px;
        gap: 24px;
        width: 710px;
        height: 200px;
        left: 245px;
        top: 349px;

        &--cont {
          position: relative;
          display: inline-block;

          input {
            padding-right: 40px;
            gap: 8px;
            width: 622px;
            height: 105px;
            padding-left: 10px;

            &::placeholder {
              padding-left: 10px;
            }
          }

          button {
            top: 20px;
            right: 16px;
            width: 115px;
            height: 60px;
            font-size: 16px;

            &:hover {
              color: #1B76F9;
              background: #FFFFFF;
            }

            i {
              font-size: 25px;
              position: absolute;
              left: 3px;
              //padding: 10px 0px;
            }
          }
        }


        select {
          padding: 0;
          width: 114px;
          height: 35px;
          font-size: 16px;

        }
      }

      &__peoples {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 235px 316px 0 0;
        margin: 0 109px;
        width: 1420px;
        height: 980px;

        &--alex {
          padding: 0 0 24px;
          margin: 0 0 30px;
          gap: 8px;
          width: 256px;
          height: 422px;

          img {
            border-radius: 32px 32px 0 0;
            width: 256px;
            height: 256px;
          }

          h1 {
            font-size: 21.33px;
            padding: 20px 0;
          }

          p {
            font-size: 12.8px;
          }

          button {
            margin: 20px 55px;
            padding: 8px 16px;
            gap: 8px;
            width: 137px;
            height: 35px;
            font-size: 12.8px;

            &:hover {
              background: #FFFFFF;
              color: #1B76F9;
              border: 1px solid #1B76F9;
            }

            i {
              font-size: 15px;
            }
          }
        }
      }

      &__see {
        margin: 639px 0 0 0;
        padding: 8px 16px;
        gap: 8px;
        width: 109px;
        height: 40px;
        font-size: 16px;

        &:hover {
          background: #1B76F9;
          color: #FFFFFF;
        }
      }
    }
  }

}

@media (max-width: 1024px) {
  #agents {
    padding: 79px 0 0 0;

    .agents {

      &__svg {
        width: 100%;
      }

      &__find {
        width: 500px;
        height: 152px;
        font-size: 50.52px;
        top: 135px;
        left: 282px;
      }

      &__search {
        padding: 24px;
        gap: 24px;
        width: 710px;
        height: 200px;
        left: 177px;
        top: 349px;

        &--cont {
          position: relative;
          display: inline-block;

          input {
            padding-right: 40px;
            gap: 8px;
            width: 622px;
            height: 105px;
            padding-left: 10px;

            &::placeholder {
              padding-left: 10px;
            }
          }

          button {
            top: 20px;
            right: 16px;
            width: 115px;
            height: 60px;
            font-size: 16px;

            &:hover {
              color: #1B76F9;
              background: #FFFFFF;
            }

            i {
              font-size: 25px;
              position: absolute;
              left: 3px;
              //padding: 10px 0px;
            }
          }
        }


        select {
          padding: 0;
          width: 114px;
          height: 35px;
          font-size: 16px;

        }
      }

      &__peoples {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 235px 34rem 0 0;
        margin: 0 109px;
        width: 1420px;
        height: 980px;

        &--alex {
          padding: 0 0 24px;
          margin: 0 0 30px;
          gap: 8px;
          width: 256px;
          height: 422px;

          img {
            border-radius: 32px 32px 0 0;
            width: 256px;
            height: 256px;
          }

          h1 {
            font-size: 21.33px;
            padding: 20px 0;
          }

          p {
            font-size: 12.8px;
          }

          button {
            margin: 20px 55px;
            padding: 8px 16px;
            gap: 8px;
            width: 137px;
            height: 35px;
            font-size: 12.8px;

            &:hover {
              background: #FFFFFF;
              color: #1B76F9;
              border: 1px solid #1B76F9;
            }

            i {
              font-size: 15px;
            }
          }
        }
      }

      &__see {
        margin: 639px 0 0 0;
        padding: 8px 16px;
        gap: 8px;
        width: 109px;
        height: 40px;
        font-size: 16px;

        &:hover {
          background: #1B76F9;
          color: #FFFFFF;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #agents {
    padding: 79px 0 0 0;

    .agents {

      &__svg {
        width: 100%;
      }

      &__find {
        width: 500px;
        height: 152px;
        font-size: 48.52px;
        top: 135px;
        left: 252px;
      }

      &__search {
        padding: 24px;
        gap: 10px;
        width: 710px;
        height: 160px;
        left: 140px;
        top: 349px;

        &--cont {
          position: relative;
          display: inline-block;

          input {
            padding-right: 40px;
            gap: 8px;
            width: 622px;
            height: 87px;
            padding-left: 10px;

            &::placeholder {
              padding-left: 10px;
            }
          }

          button {
            top: 20px;
            right: 16px;
            width: 115px;
            height: 60px;
            font-size: 16px;

            &:hover {
              color: #1B76F9;
              background: #FFFFFF;
            }

            i {
              font-size: 25px;
              position: absolute;
              left: 3px;
              //padding: 10px 0px;
            }
          }
        }


        select {
          padding: 0;
          width: 114px;
          height: 35px;
          font-size: 16px;

        }
      }

      &__peoples {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 235px 31rem 0 0;
        margin: 0 65px;
        width: 1420px;
        height: 980px;

        &--alex {
          padding: 0 0 24px;
          margin: 0 0 30px;
          gap: 8px;
          width: 256px;
          height: 422px;

          img {
            border-radius: 32px 32px 0 0;
            width: 256px;
            height: 256px;
          }

          h1 {
            font-size: 21.33px;
            padding: 20px 0;
          }

          p {
            font-size: 12.8px;
          }

          button {
            margin: 20px 55px;
            padding: 8px 16px;
            gap: 8px;
            width: 137px;
            height: 35px;
            font-size: 12.8px;

            &:hover {
              background: #FFFFFF;
              color: #1B76F9;
              border: 1px solid #1B76F9;
            }

            i {
              font-size: 15px;
            }
          }
        }
      }

      &__see {
        margin: 639px 0 0 0;
        padding: 8px 16px;
        gap: 8px;
        width: 109px;
        height: 40px;
        font-size: 16px;

        &:hover {
          background: #1B76F9;
          color: #FFFFFF;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #agents {
    padding: 79px 0 0 0;

    .agents {

      &__svg {
        width: 100%;
      }

      &__find {
        font-size: 34.52px;
        top: 135px;
        left: 160px;
      }

      &__search {
        padding: 24px;
        gap: 10px;
        width: 613px;
        height: 148px;
        left: 96px;
        top: 349px;

        &--cont {
          position: relative;
          display: inline-block;

          input {
            padding-right: 40px;
            gap: 8px;
            width: 553px;
            height: 73px;
            padding-left: 10px;

            &::placeholder {
              padding-left: 10px;
            }
          }

          button {
            top: 8px;
            right: 16px;
            width: 115px;
            height: 54px;
            font-size: 15px;

            &:hover {
              color: #1B76F9;
              background: #FFFFFF;
            }

            i {
              font-size: 25px;
              position: absolute;
              left: 3px;
              //padding: 10px 0px;
            }
          }
        }


        select {
          padding: 0;
          width: 114px;
          height: 35px;
          font-size: 16px;

        }
      }

      &__peoples {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 305px 40rem 0 0;
        margin: 0 65px;
        width: 1420px;
        height: 980px;

        &--alex {
          padding: 0 0 24px;
          margin: 0 0 30px;
          gap: 8px;
          width: 256px;
          height: 422px;

          img {
            border-radius: 32px 32px 0 0;
            width: 256px;
            height: 256px;
          }

          h1 {
            font-size: 21.33px;
            padding: 20px 0;
          }

          p {
            font-size: 12.8px;
          }

          button {
            margin: 20px 55px;
            padding: 8px 16px;
            gap: 8px;
            width: 137px;
            height: 35px;
            font-size: 12.8px;

            &:hover {
              background: #FFFFFF;
              color: #1B76F9;
              border: 1px solid #1B76F9;
            }

            i {
              font-size: 15px;
            }
          }
        }
      }

      &__see {
        margin: 70rem 0 0 0;
        padding: 8px 16px;
        gap: 8px;
        width: 109px;
        height: 40px;
        font-size: 16px;

        &:hover {
          background: #1B76F9;
          color: #FFFFFF;
        }
      }
    }
  }
}

@media (max-width: 683px) {
  #agents {
    padding: 79px 0 0 0;

    .agents {

      &__svg {
        width: 100%;
      }

      &__find {
        font-size: 34.52px;
        top: 135px;
        left: 160px;
      }

      &__search {
        padding: 24px;
        gap: 5px;
        width: 575px;
        height: 135px;
        left: 50px;
        top: 349px;

        &--cont {
          position: relative;
          display: inline-block;

          input {
            padding-right: 40px;
            gap: 8px;
            width: 553px;
            height: 73px;
            padding-left: 10px;

            &::placeholder {
              padding-left: 10px;
            }
          }

          button {
            top: 8px;
            right: 16px;
            width: 115px;
            height: 54px;
            font-size: 15px;

            &:hover {
              color: #1B76F9;
              background: #FFFFFF;
            }

            i {
              font-size: 25px;
              position: absolute;
              left: 3px;
              //padding: 10px 0px;
            }
          }
        }


        select {
          padding: 0;
          width: 114px;
          height: 35px;
          font-size: 16px;

        }
      }

      &__peoples {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 305px 50rem 0 0;
        margin: 0 65px;
        width: 1420px;
        height: 980px;

        &--alex {
          padding: 0 0 24px;
          margin: 0 0 30px;
          gap: 8px;
          width: 256px;
          height: 422px;

          img {
            border-radius: 32px 32px 0 0;
            width: 256px;
            height: 256px;
          }

          h1 {
            font-size: 21.33px;
            padding: 20px 0;
          }

          p {
            font-size: 12.8px;
          }

          button {
            margin: 20px 55px;
            padding: 8px 16px;
            gap: 8px;
            width: 137px;
            height: 35px;
            font-size: 12.8px;

            &:hover {
              background: #FFFFFF;
              color: #1B76F9;
              border: 1px solid #1B76F9;
            }

            i {
              font-size: 15px;
            }
          }
        }
      }

      &__see {
        margin: 70rem 0 0 0;
        padding: 8px 16px;
        gap: 8px;
        width: 109px;
        height: 40px;
        font-size: 16px;

        &:hover {
          background: #1B76F9;
          color: #FFFFFF;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #agents {
    padding: 79px 0 0 0;

    .agents {

      &__svg {
        width: 100%;
      }

      &__find {
        font-size: 20.52px;
        top: 83px;
        left: 45px;
      }

      &__search {
        padding: 24px;
        gap: 5px;
        width: 454px;
        height: 135px;
        left: 50px;
        top: 349px;

        &--cont {
          position: relative;
          display: inline-block;

          input {
            padding-right: 40px;
            gap: 8px;
            width: 401px;
            height: 73px;
            font-size: 10px;
            padding-left: 10px;

            &::placeholder {
              padding-left: 10px;
            }
          }

          button {
            top: 8px;
            right: 16px;
            width: 115px;
            height: 54px;
            font-size: 15px;

            &:hover {
              color: #1B76F9;
              background: #FFFFFF;
            }

            i {
              font-size: 25px;
              position: absolute;
              left: 3px;
              //padding: 10px 0px;
            }
          }
        }


        select {
          padding: 0;
          width: 114px;
          height: 35px;
          font-size: 16px;

        }
      }

      &__peoples {
        display: grid;
        grid-template-columns: 1fr;
        padding: 305px 0 0 85px;
        margin: 0 65px;

        &--alex {
          padding: 0 0 24px;
          margin: 0 0 30px;
          gap: 8px;
          width: 256px;
          height: 422px;

          img {
            border-radius: 32px 32px 0 0;
            width: 256px;
            height: 256px;
          }

          h1 {
            font-size: 21.33px;
            padding: 20px 0;
          }

          p {
            font-size: 12.8px;
          }

          button {
            margin: 20px 55px;
            padding: 8px 16px;
            gap: 8px;
            width: 137px;
            height: 35px;
            font-size: 12.8px;

            &:hover {
              background: #FFFFFF;
              color: #1B76F9;
              border: 1px solid #1B76F9;
            }

            i {
              font-size: 15px;
            }
          }
        }
      }

      &__see {
        margin: 184rem 0 0 0;
        padding: 8px 16px;
        gap: 8px;
        width: 109px;
        height: 40px;
        font-size: 16px;

        &:hover {
          background: #1B76F9;
          color: #FFFFFF;
        }
      }
    }
  }
}

@media (max-width: 451px) {
  #agents {
    padding: 79px 0 0 0;

    .agents {

      &__svg {
        width: 100%;
      }

      &__find {
        font-size: 20.52px;
        top: 83px;
        left: 105px;
        width: 253px;

      }

      &__search {
        padding: 24px;
        gap: 5px;
        width: 366px;
        height: 105px;
        left: 50px;
        top: 349px;

        &--cont {
          position: relative;
          display: inline-block;

          input {
            padding-right: 40px;
            gap: 8px;
            width: 327px;
            height: 55px;
            font-size: 10px;
            padding-left: 10px;

            &::placeholder {
              padding-left: 10px;
            }
          }

          button {
            top: 5px;
            right: 6px;
            width: 96px;
            height: 54px;
            font-size: 10px;

            &:hover {
              color: #1B76F9;
              background: #FFFFFF;
            }

            i {
              font-size: 18px;
              left: 6px;
            }
          }
        }


        select {
          padding: 0;
          width: 114px;
          height: 35px;
          font-size: 16px;

        }
      }

      &__peoples {
        display: grid;
        grid-template-columns: 1fr;
        padding: 304px 0 0 0;
        margin: 0 101px;

        &--alex {
          padding: 0 0 24px;
          margin: 0 0 30px;
          gap: 8px;
          width: 256px;
          height: 422px;

          img {
            border-radius: 32px 32px 0 0;
            width: 256px;
            height: 256px;
          }

          h1 {
            font-size: 21.33px;
            padding: 20px 0;
          }

          p {
            font-size: 12.8px;
          }

          button {
            margin: 20px 55px;
            padding: 8px 16px;
            gap: 8px;
            width: 137px;
            height: 35px;
            font-size: 12.8px;

            &:hover {
              background: #FFFFFF;
              color: #1B76F9;
              border: 1px solid #1B76F9;
            }

            i {
              font-size: 15px;
            }
          }
        }
      }

      &__see {
        margin: 184rem 0 0 0;
        padding: 8px 16px;
        gap: 8px;
        width: 109px;
        height: 40px;
        font-size: 16px;

        &:hover {
          background: #1B76F9;
          color: #FFFFFF;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #agents {
    padding: 79px 0 0 0;

    .agents {

      &__svg {
        width: 100%;
      }

      &__find {
        font-size: 20.52px;
        top: 83px;
        left: 71px;
        width: 253px;

      }

      &__search {
        padding: 24px;
        gap: 5px;
        width: 330px;
        height: 111px;
        left: 33px;
        top: 349px;

        &--cont {
          position: relative;
          display: inline-block;

          input {
            padding-right: 40px;
            gap: 8px;
            width: 296px;
            height: 55px;
            font-size: 10px;
            padding-left: 10px;

            &::placeholder {
              padding-left: 10px;
            }
          }

          button {
            top: 8px;
            right: 5px;
            width: 84px;
            height: 40px;
            font-size: 10px;

            &:hover {
              color: #1B76F9;
              background: #FFFFFF;
            }

            i {
              font-size: 18px;
              left: 6px;
            }
          }
        }


        select {
          padding: 0;
          width: 114px;
          height: 28px;
          font-size: 13px;

        }
      }

      &__peoples {
        display: grid;
        grid-template-columns: 1fr;
        padding: 304px 0 0 0;
        margin: 0 75px;

        &--alex {
          padding: 0 0 24px;
          margin: 0 0 30px;
          gap: 8px;
          width: 256px;
          height: 422px;

          img {
            border-radius: 32px 32px 0 0;
            width: 256px;
            height: 256px;
          }

          h1 {
            font-size: 21.33px;
            padding: 20px 0;
          }

          p {
            font-size: 12.8px;
          }

          button {
            margin: 20px 55px;
            padding: 8px 16px;
            gap: 8px;
            width: 137px;
            height: 35px;
            font-size: 12.8px;

            &:hover {
              background: #FFFFFF;
              color: #1B76F9;
              border: 1px solid #1B76F9;
            }

            i {
              font-size: 15px;
            }
          }
        }
      }

      &__see {
        margin: 184rem 0 0 0;
        padding: 8px 16px;
        gap: 8px;
        width: 109px;
        height: 40px;
        font-size: 16px;

        &:hover {
          background: #1B76F9;
          color: #FFFFFF;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  #agents {
    padding: 79px 0 0 0;

    .agents {

      &__svg {
        width: 100%;
      }

      &__find {
        font-size: 20.52px;
        top: 83px;
        left: 71px;
        width: 253px;

      }

      &__search {
        padding: 24px;
        gap: 5px;
        width: 330px;
        height: 111px;
        left: 33px;
        top: 349px;

        &--cont {
          position: relative;
          display: inline-block;

          input {
            padding-right: 40px;
            gap: 8px;
            width: 296px;
            height: 55px;
            font-size: 10px;
            padding-left: 10px;

            &::placeholder {
              padding-left: 10px;
            }
          }

          button {
            top: 8px;
            right: 5px;
            width: 84px;
            height: 40px;
            font-size: 10px;

            &:hover {
              color: #1B76F9;
              background: #FFFFFF;
            }

            i {
              font-size: 18px;
              left: 6px;
            }
          }
        }


        select {
          padding: 0;
          width: 114px;
          height: 28px;
          font-size: 13px;

        }
      }

      &__peoples {
        display: grid;
        grid-template-columns: 1fr;
        padding: 304px 0 0 0;
        margin: 0 75px;

        &--alex {
          padding: 0 0 24px;
          margin: 0 0 30px;
          gap: 8px;
          width: 256px;
          height: 422px;

          img {
            border-radius: 32px 32px 0 0;
            width: 256px;
            height: 256px;
          }

          h1 {
            font-size: 21.33px;
            padding: 20px 0;
          }

          p {
            font-size: 12.8px;
          }

          button {
            margin: 20px 55px;
            padding: 8px 16px;
            gap: 8px;
            width: 137px;
            height: 35px;
            font-size: 12.8px;

            &:hover {
              background: #FFFFFF;
              color: #1B76F9;
              border: 1px solid #1B76F9;
            }

            i {
              font-size: 15px;
            }
          }
        }
      }

      &__see {
        margin: 184rem 0 0 0;
        padding: 8px 16px;
        gap: 8px;
        width: 109px;
        height: 40px;
        font-size: 16px;

        &:hover {
          background: #1B76F9;
          color: #FFFFFF;
        }
      }
    }
  }
}

@media (max-width: 351px) {
  #agents {
    padding: 79px 0 0 0;

    .agents {

      &__svg {
        width: 100%;
      }

      &__find {
        font-size: 20.52px;
        top: 83px;
        left: 71px;
        width: 253px;

      }

      &__search {
        padding: 24px;
        gap: 6px;
        width: 295px;
        height: 111px;
        left: 33px;
        top: 349px;

        &--cont {
          position: relative;
          display: inline-block;

          input {
            padding-right: 40px;
            gap: 8px;
            width: 265px;
            height: 55px;
            font-size: 10px;
            padding-left: 1px;

            &::placeholder {
              padding-left: 10px;
            }
          }

          button {
            top: 8px;
            right: 5px;
            width: 84px;
            height: 40px;
            font-size: 10px;

            &:hover {
              color: #1B76F9;
              background: #FFFFFF;
            }

            i {
              font-size: 18px;
              left: 6px;
            }
          }
        }


        select {
          padding: 0;
          width: 114px;
          height: 28px;
          font-size: 13px;

        }
      }

      &__peoples {
        display: grid;
        grid-template-columns: 1fr;
        padding: 304px 0 0 0;
        margin: 28px 56px;

        &--alex {
          padding: 0 0 24px;
          margin: 0 0 30px;
          gap: 8px;
          width: 256px;
          height: 422px;

          img {
            border-radius: 32px 32px 0 0;
            width: 256px;
            height: 256px;
          }

          h1 {
            font-size: 21.33px;
            padding: 20px 0;
          }

          p {
            font-size: 12.8px;
          }

          button {
            margin: 20px 55px;
            padding: 8px 16px;
            gap: 8px;
            width: 137px;
            height: 35px;
            font-size: 12.8px;

            &:hover {
              background: #FFFFFF;
              color: #1B76F9;
              border: 1px solid #1B76F9;
            }

            i {
              font-size: 15px;
            }
          }
        }
      }

      &__see {
        margin: 184rem 0 0 0;
        padding: 8px 16px;
        gap: 8px;
        width: 109px;
        height: 40px;
        font-size: 16px;

        &:hover {
          background: #1B76F9;
          color: #FFFFFF;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #agents {
    padding: 79px 0 0 0;

    .agents {

      &__svg {
        width: 100%;
      }

      &__find {
        font-size: 17.52px;
        top: 81px;
        left: 49px;
        width: 253px;

      }

      &__search {
        padding: 24px;
        gap: 6px;
        width: 265px;
        height: 111px;
        left: 33px;
        top: 349px;

        &--cont {
          position: relative;
          display: inline-block;

          input {
            padding-right: 40px;
            gap: 8px;
            width: 246px;
            height: 55px;
            font-size: 10px;
            padding-left: 1px;

            &::placeholder {
              padding-left: 10px;
            }
          }

          button {
            top: 7px;
            right: 1px;
            width: 84px;
            height: 40px;
            font-size: 10px;

            &:hover {
              color: #1B76F9;
              background: #FFFFFF;
            }

            i {
              font-size: 18px;
              left: 6px;
            }
          }
        }


        select {
          padding: 0;
          width: 114px;
          height: 28px;
          font-size: 13px;

        }
      }

      &__peoples {
        display: grid;
        grid-template-columns: 1fr;
        padding: 304px 0 0 0;
        margin: 28px 36px;

        &--alex {
          padding: 0 0 24px;
          margin: 0 0 30px;
          gap: 8px;
          width: 256px;
          height: 422px;

          img {
            border-radius: 32px 32px 0 0;
            width: 256px;
            height: 256px;
          }

          h1 {
            font-size: 21.33px;
            padding: 20px 0;
          }

          p {
            font-size: 12.8px;
          }

          button {
            margin: 20px 55px;
            padding: 8px 16px;
            gap: 8px;
            width: 137px;
            height: 35px;
            font-size: 12.8px;

            &:hover {
              background: #FFFFFF;
              color: #1B76F9;
              border: 1px solid #1B76F9;
            }

            i {
              font-size: 15px;
            }
          }
        }
      }

      &__see {
        margin: 184rem 0 0 0;
        padding: 8px 16px;
        gap: 8px;
        width: 109px;
        height: 40px;
        font-size: 16px;

        &:hover {
          background: #1B76F9;
          color: #FFFFFF;
        }
      }
    }
  }
}