*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

input select option{
  outline: none;
  border: none;
}

.container{
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}
button{
  cursor: pointer;
}